body {
    width: 100%;
    height: 100%;
    background-color: #E5E9F0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

::selection {
    background-color: #b30000;
    /* Change the background color to yellow (or any color you want) */
    color: #ffffff;
    border-radius: 10px;
    /* Change the text color to black (or any color you want) */
}

.head {
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: rgb(61, 10, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    position: sticky;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    color: rgb(255, 255, 255);
    gap: 30px;
    list-style: none;
    margin: 30px;
}

.logo {
    color: white;
    margin: 30px;
    font-size: 30px;
    cursor: pointer;
}

.block {
    margin-top: 0px;
    padding: 50px;
    width: 100%;
    height: 400px;
    background-color: rgba(123, 250, 155, 0.603);
}

.toppara {
    color: rgb(207, 28, 28);
    position: relative;
    top: -20px;
    font-size: 10px;
    display: flex;

}

.toppara p:nth-of-type(2) {
    margin-left: auto;
}

.toppara p:nth-of-type(2):hover {
    margin-left: auto;
    transform: translateY(-2px);
    filter: invert(1);
    transition: 0.3s;
}

.headline {
    height: 40px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

.para {
    color: rgb(86, 133, 117);
    margin-top: 70px;
    height: 30px;
    text-align: center;
}

.buttons {

    display: flex;
    justify-content: center;
    gap: 450px;
    margin-top: 120px;

}

.button {
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 10px;
    border-style: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 175, 178);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
    transform: translateY(-2px);
    transition: 0.2s;
    color: white;
    background-color: #0a80cf;
}

.content {
    padding: 50px;
    width: 100%;
    height: auto;
    background-color: antiquewhite;

}

.cards {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* padding: 80px 100px; */
}

.card {
    /* border: 1px solid black; */
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(181, 255, 255, 0.596);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
    text-align: center;
    margin: 10px;
}

.readmore {
    text-decoration: none;
    border: none;
    background-color: inherit;
    color: #b30000;
    cursor: pointer;
}

.readmore:hover {
    transform: scale(1.03);
    color: #fd0000;
}

.footer {
    width: 100%;
    text-align: center;
    /* background-image: radial-gradient(black white); */
    padding: 50px;
    margin-bottom: 10px;
}

.footer a {
    text-decoration: none;
    color: #b30000;
}

.foothead {
    margin-bottom: 30px;
}

.footpara {
    color: gray;
}

.footpara:nth-child(2) {
    margin: 30px;
}

.thank {
    margin: 30px;
    margin-bottom: 0px;
    color: maroon;
}

@media (max-width: 900px) {
    .block {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .block {
        grid-template-columns: 1fr;
    }
}